/*
normal: gray background, orange text
hover: orange background, gray text
*/

@import url("button.css");

.button {
  -fx-background-color: #222A2BE6;
  -fx-text-fill: #BD6738FF;
}

.button:hover{
    -fx-background-color: #BD6738E6;
    -fx-text-fill: #222A2BFF;
}