@import url("button_alt.css");
@import url("label.css");

.dialog-pane {
    -fx-border-color: #222A2BFF;
    -fx-background-color: #222A2BFF;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: transparent;
}

.dialog-pane:header .header-panel {
  -fx-background-color: transparent;
}

.dialog-pane > .content.label {
     -fx-background-color: transparent;
}